.toggle-button{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    height:24px;
  background:transparent;
    font-size:40px;
    width:30px;
    border:none;
    cursor: pointer;
    padding:0;
    box-sizing: border-box;
   margin-top: 15px;
    .toggle-button:focus{
        outline: none;
    }
    .toggle-button_line{
        width:30px;
        height:2px;
       color:#ffaa5f;
       background:#ffaa5f ;

    }

       

    }

    //Media query //
    @media only screen and (min-width:768px){
   .toggle-button{
       display: none;
   }
    }
    
   
         