.side-drawer{
    height:100%;
    background:white;
    box-shadow: 2px 0px 5px rgba(0,0,0,0.5);
    position: fixed;
    top:0;
    left:0;
    width:100%;
   // max-width:400px;
    z-index: 200;
    transform: translateX(-100);
  transition: transform 0.3s ease-in;

    ul{
        height:100%;
        background-color: #1e1d22;
        list-style: none;
        display: flex;
        flex-direction: column;
        padding: 55px;
          align-items: center;
       
        li{
            color:white;
            font-size:1.4rem;
            text-transform: uppercase;
            margin:0.5rem 0;
            margin-top: 57px;
            cursor: pointer;
            transition: all 2s ;
        }
    }
    li:hover{
        color:#ffaa5f;
        
    }
    li:active{
        color:red;
    }
    .closer{
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
        color:white;
        margin: 19px;
        transform: rotateX(136deg);
        font-size: 30px;

    }
}

.backdrop{
    position: fixed;
    top:0;
    left:0;

    width:100%;
    height:100%;
    background:rgba(0,0,0,0.3);
    z-index: 100;
  
}
.side-drawer.open{
    transform: translateX(0);
}
